<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Views
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="VW_DETALLECOMPLETOVENTAS.html" target="ObjectDetailsFrame">VW_DETALLECOMPLETOVENTAS</a>
<a href ="VW_HISTORIALPRECIOS.html" target="ObjectDetailsFrame">VW_HISTORIALPRECIOS</a>
<a href ="VW_PRODUCTOSPORCATEGORIA.html" target="ObjectDetailsFrame">VW_PRODUCTOSPORCATEGORIA</a>
<a href ="VW_PRODUCTOSSTOCKCRITICO.html" target="ObjectDetailsFrame">VW_PRODUCTOSSTOCKCRITICO</a>
<a href ="VW_PROVEEDORESCONPRODUCTOS.html" target="ObjectDetailsFrame">VW_PROVEEDORESCONPRODUCTOS</a>
<a href ="VW_RENDIMIENTOEMPLEADOS.html" target="ObjectDetailsFrame">VW_RENDIMIENTOEMPLEADOS</a>
<a href ="VW_RESUMENMENSUAL.html" target="ObjectDetailsFrame">VW_RESUMENMENSUAL</a>
<a href ="VW_RESUMENVENTASDIARIAS.html" target="ObjectDetailsFrame">VW_RESUMENVENTASDIARIAS</a>
<a href ="VW_TOPPRODUCTOSVENDIDOS.html" target="ObjectDetailsFrame">VW_TOPPRODUCTOSVENDIDOS</a>
<a href ="VW_VENTASPORCLIENTE.html" target="ObjectDetailsFrame">VW_VENTASPORCLIENTE</a>

</div></body> </html>